<div class="comment-one__single" >
    <div class="comment-one__image">
        <a routerLink="/viewprofile/{{comment.user.id}}">
          <img src="{{comment.user.image}}" alt="" width="150px" height="150px">
    
        </a></div>
    <div class="comment-one__content">
        <div class="comment-one__content-top">
            <div class="comment-one__content-text">
                <a routerLink="/viewprofile/{{comment.user.id}}"><h3>{{comment.user.username}}</h3></a>
            </div>

            <div class="comment-one__content-btn">
             
                <button class="thm-btn mx-1" *ngIf="!isEditmode && comment.user.id==userId" (click)="editcomment(comment.id)" >Edit</button>

                <button class="thm-btn mx-1" *ngIf="isEditmode" (click)="cancelEdit()" >Cancel</button>
               <button class="thm-btn danger" *ngIf="comment.user.id==userId " (click)="deleteComment(comment.id)">Delete</button>
        
          </div>
        </div>
        <span *ngIf="!isEditmode">
          <p >{{comment.content}}</p>
          <p class="meta-info"><i class="far fa-clock"></i> {{comment.createdAt |  date:'medium' }}</p>
        </span>
        
        <div *ngIf="isEditmode">
          <form [formGroup]="updateCommentForm" (ngSubmit)="updateComment(updateCommentForm.value,comment.id)" class="comment-one__form contact-form-validated">
            <div class="row">
              <div class="col-xl-12 col-lg-12">
                <div class="comment-form__input-box">
                  <textarea
                    formControlName="content"
                    name="message"
                    placeholder="Write message"
                  ></textarea>
                </div>
                <button type="submit" class="thm-btn comment-form__btn">
                  update comment
                </button>
              </div>
            </div>
          </form>
        </div>
    
    </div>
</div>