<section class="section about-section" id="about">
  <div class="container">
    <div class="row align-items-center flex-row-reverse">
      <div class="col-lg-5">
        <div class="about-text go-to">
          <div class="row">
            <div class="col">
              <h3 class="dark-color">{{ user.username | uppercase }}</h3>
            </div>
            <div class="col">
              <a
                routerLink="/profile/{{ user.id }}"
                *ngIf="user.id == userId"
                class="btn btn-outline-info"
                >Edit profile</a
              >
              <a
                routerLink="/chat/{{ user.id }}"
                *ngIf="user.id != userId"
                class="btn btn-outline-info"
                >Send message</a
              >
            </div>
          </div>
          <h6 class="theme-color lead">{{ user.role }}</h6>
          <p>
          {{user.bio}}
           <span *ngIf="!user.bio">No bio </span>
          </p>
          <div class="row about-list">
            <div class="col-md-6">
              <div class="media">
                <label>Birthday</label>
                <p>{{user.birthday | date}}</p>
              </div>
              <div class="media">
                <label>Age</label>
                <p>{{calculateAge(user.birthday) }} Yr</p>
              </div>
              <div class="media">
                <label>Country</label>
                <p>{{ user.location }}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="media">
                <label>Gender</label>
                <p *ngIf="user.gender == 'MALE'">
                  <i class="bx bx-male-sign bx-md"></i>
                </p>
                <p *ngIf="user.gender == 'FEMALE'">
                  <i class="bx bx-female-sign bx-md"></i>
                </p>
              </div>
              <div class="media">
                <label>Phone</label>
                <p>{{ user.phone }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"><div class="vertical-line"></div></div>
      <div class="col-lg-6">
        <div class="about-avatar">
          <img
            src="{{ user.image }}"
            alt="profile pic"
            width="400px"
            height="400px"
          />
        </div>
        <hr />
        <span *ngIf="user.badges.length > 0">
          <h4>Achievement ( {{ user.badges.length }} )</h4>

          <div class="d-flex">
            <span *ngFor="let b of user.badges">
              <button
                type="submit"
                (click)="getBadgeByid(b.id)"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                <img src="data:image/png;base64,{{ b.image }}" id="badge" />
              </button>
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        {{ badge.name }}
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col">
                          <img
                            src="data:image/png;base64,{{ badge.image }}"
                            id="badge"
                          />
                        </div>
                        <div class="col">
                          <p>{{ badge.description }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </span>
          </div>
        </span>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="counter">
      <div class="row">
        <div class="col-6 col-lg-4">
          <div class="count-data text-center">
            <h6 class="count h2" data-to="500" data-speed="500">
              <i class="bx bx-like"></i>
              <span>{{ user.likedPost.length }}</span>
            </h6>
            <p class="m-0px font-w-600">Likes</p>
          </div>
        </div>
        <div class="col-6 col-lg-4">
          <div class="count-data text-center">
            <h6 class="count h2">
              <i class="bx bx-comment-dots"></i> {{ comments.length }}
            </h6>
            <p class="m-0px font-w-600">Comments</p>
          </div>
        </div>
        <div class="col-6 col-lg-4">
          <div class="count-data text-center">
            <h6 class="count h2">
              <i class="bx bx-repost"></i> {{ posts.length }}
            </h6>
            <p class="m-0px font-w-600">Posts</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
