<section class="section about-section" id="about">
  <div class="container">
    <div class="row align-items-center flex-row-reverse">
      <div class="col-lg-5">
        <div class="about-text go-to">
          <div class="row">
            <div class="col">
              <h3 class="dark-color">{{ user.username | uppercase }}</h3>
            </div>
            <div class="col">
              <div class="dropdown">
                <a
                  class="btn bg-gradient-primary dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      routerLink="/profile/{{ user.id }}"
                      *ngIf="user.id == userId"
                      class="dropdown-item"
                      >Edit profile</a
                    >
                  </li>
                  <li>
                    <a
                      href="javascript:void(0);"
                      *ngIf="user.id != userId"
                      class="dropdown-item"
                      >Send message</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <h6 class="theme-color lead">{{ user.role }}</h6>
          <p>
            I <mark>design and develop</mark> services for customers of all
            sizes, specializing in creating stylish, modern websites, web
            services and online stores. My passion is to design digital user
            experiences through the bold interface and meaningful interactions.
          </p>
          <div class="row about-list">
            <div class="col-md-6">
              <div class="media">
                <label>Birthday</label>
                <p>4th april 1998</p>
              </div>
              <div class="media">
                <label>Age</label>
                <p>22 Yr</p>
              </div>
              <div class="media">
                <label>Country</label>
                <p>{{ user.location }}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="media">
                <label>Gender</label>
                <p *ngIf="user.gender == 'MALE'">
                  <i class="bx bx-male-sign bx-md"></i>
                </p>
                <p *ngIf="user.gender == 'FEMALE'">
                  <i class="bx bx-female-sign bx-md"></i>
                </p>
              </div>
              <div class="media">
                <label>Phone</label>
                <p>{{ user.phone }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"><div class="vertical-line"></div></div>
      <div class="col-lg-6">
        <div class="about-avatar">
          <img
            src="{{ user.image }}"
            alt="profile pic"
            width="400px"
            height="400px"
          />
        </div>
        <hr />

        <h4>Achievement ( {{user.badges.length}} )</h4>
        <div class="d-flex" >
          <span *ngFor="let b of user.badges">
            <img src="data:image/png;base64,{{b.image}}" id="badge" />

          </span>

          <!-- <img src="assets/badges/discussion_dynamo.png" id="badge" /> -->
          <!-- <img src="assets/badges/garden_guru.png" id="badge" />
          <img src="assets/badges/green_thumb.png" id="badge" />
          <img src="assets/badges/harvest_master.png" id="badge" /> -->
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="counter">
      <div class="row">
        <div class="col-6 col-lg-4">
          <div class="count-data text-center">
            <h6 class="count h2" data-to="500" data-speed="500">
              <i class="bx bx-like"></i>
              <span>{{ user.likedPost.length }}</span>
            </h6>
            <p class="m-0px font-w-600">Likes</p>
          </div>
        </div>
        <div class="col-6 col-lg-4">
          <div class="count-data text-center">
            <h6 class="count h2">
              <i class="bx bx-comment-dots"></i> {{ comments.length }}
            </h6>
            <p class="m-0px font-w-600">Comments</p>
          </div>
        </div>
        <div class="col-6 col-lg-4">
          <div class="count-data text-center">
            <h6 class="count h2">
              <i class="bx bx-repost"></i> {{ posts.length }}
            </h6>
            <p class="m-0px font-w-600">Posts</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
