<section class="section about-section gray-bg" id="about">
  <div class="container">
    <div class="row align-items-center flex-row-reverse">
      <div class="col-lg-6">
        <div class="about-text go-to">
          
          <div class="row">
            <div class="col">
              <h3 class="dark-color">{{ user.username | uppercase }}</h3>

            </div>
            <div class="col" *ngIf="user.id==userId">
              <a routerLink="/profile/{{user.id}}" class="thm-btn ">Edit profile</a>
            </div>
          </div>
          <h6 class="theme-color lead">{{ user.role }}</h6>
          <p>
            I <mark>design and develop</mark> services for customers of all
            sizes, specializing in creating stylish, modern websites, web
            services and online stores. My passion is to design digital user
            experiences through the bold interface and meaningful interactions.
          </p>
          <div class="row about-list">
            <div class="col-md-6">
              <div class="media">
                <label>Birthday</label>
                <p>4th april 1998</p>
              </div>
              <div class="media">
                <label>Age</label>
                <p>22 Yr</p>
              </div>
              <div class="media">
                <label>Country</label>
                <p>{{ user.location }}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="media">
                <label>Gender</label>
                <p *ngIf="user.gender == 'MALE'">
                  <i class="bx bx-male-sign bx-md"></i>
                </p>
                <p *ngIf="user.gender == 'FEMALE'">
                  <i class="bx bx-female-sign bx-md"></i>
                </p>
              </div>
              <div class="media">
                <label>Phone</label>
                <p>{{ user.phone }}</p>
              </div>
              <!-- <div class="media">
                                <label>Skype</label>
                                <p>skype.0404</p>
                            </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-avatar">
          <img
            src="{{ user.image }}"
            title=""
            alt=""
            width="400px"
            height="400px"
          />
        </div>
      </div>
    </div>
    <div class="counter">
      <div class="row">
        <div class="col-6 col-lg-4">
          <div class="count-data text-center">
            <h6 class="count h2" data-to="500" data-speed="500"><i class='bx bx-like' ></i> 0</h6>
            <p class="m-0px font-w-600">Likes</p>
          </div>
        </div>
        <div class="col-6 col-lg-4">
          <div class="count-data text-center">
            <h6 class="count h2" >
                <i class='bx bx-comment-dots'></i> {{ comments.length }}
            </h6>
            <p class="m-0px font-w-600">Comments</p>
          </div>
        </div>
        <div class="col-6 col-lg-4">
          <div class="count-data text-center">
            <h6 class="count h2" >
                <i class='bx bx-repost'></i>  {{ posts.length }}
            </h6>
            <p class="m-0px font-w-600">Posts</p>
          </div>
        </div>
        <!-- <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <h6 class="count h2" data-to="190" data-speed="190">190</h6>
                        <p class="m-0px font-w-600">Telephonic Talk</p>
                    </div>
                </div> -->
      </div>
    </div>
  </div>
</section>
