   <!--News Details Start-->
   <section class="news-details">
    <div class="container">
        <div class="row">
            <!--Start News Details Laft-->
            <div class="col-xl-8 col-lg-7">
                <div class="news-details__left">
                    <!--Start Single Blog One-->
                    <div class="blog-one__single">
                        <div class="blog-one__single-img">
                            <img src="assets/images/blog/blog-v2-img1.jpg" alt="" />
                        </div>

                        <div class="blog-one__single-content blog-details">
                            <ul class="meta-info">
                                <li><a href="#"><i class="far fa-clock"></i>30 July, 2021</a></li>
                                <li><a href="#"><i class="far fa-user-circle"></i>Jessica</a></li>
                                <li><a href="#"><i class="far fa-comments"></i>2 Comments</a></li>
                            </ul>
                            <h2>Why Eco and Walking or Agriculture for the Environment?</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority
                                have suffered alteration in some form, by injected humour, or randomised words
                                which don't look even slightly believable. If you are going to use a passage.
                                Lorem ipsum dolor sit amet, cibo mundi ea duo, vim exerci phaedrum. There are
                                many variations of passages of Lorem Ipsum available, but the majority have
                                alteration in some injected or words which don't look even slightly believable.
                                If you are going to use a passage of Lorem Ipsum, you need to be sure there
                                isn't anything embarrang hidden in the middle of text. All the Lorem Ipsum
                                generators on the Internet tend to repeat predefined chunks as necessary, making
                                this the first true generator on the Internet. It uses a dictionary of over 200
                                Latin words, combined with a handful of model sentence structures, to generate
                                Lorem Ipsum which looks reasonable. </p>
                        </div>
                    </div>
                    <!--End Single Blog One-->

                    <p class="news-details__left-text1">Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                        make a type simen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting.</p>
                    <p class="news-details__left-text2">Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. orem Ipsum has been the industry's standard dummy text ever since
                        the when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.</p>

                    <div class="tag-social-link">
                        <div class="tag-social-link__tag">
                            <div class="title">
                                <h4>Tags</h4>
                            </div>
                            <div class="tag-social-link__tag-list">
                                <ul>
                                    <li><a href="#">Agriculture</a></li>
                                    <li><a href="#">dairy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tag-social-link__social-links">
                            <ul>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="news-details__pagenation">
                        <div class="row">
                            <!--Start Single News Details Pagenation-->
                            <div class="col-xl-6">
                                <div class="news-details__pagenation-single style2">
                                    <h2><a href="#">The Winter Wheat Harvest Gathering Momentum</a></h2>
                                </div>
                            </div>
                            <!--End Single News Details Pagenation-->

                            <!--Start Single News Details Pagenation-->
                            <div class="col-xl-6">
                                <div class="news-details__pagenation-single active">
                                    <h2><a href="#">The Winter Wheat Harvest Gathering Momentum</a></h2>
                                </div>
                            </div>
                            <!--End Single News Details Pagenation-->
                        </div>
                    </div>

                    <!--Start Comment One -->
                    <div class="comment-one">
                        <h3 class="comment-one__title">2 Comments</h3>
                        <div class="comment-one__single">
                            <div class="comment-one__image">
                                <img src="assets/images/blog/comment-img1.jpg" alt="">
                            </div>
                            <div class="comment-one__content">
                                <div class="comment-one__content-top">
                                    <div class="comment-one__content-text">
                                        <h3>Kevin Martin</h3>
                                    </div>
                                    <div class="comment-one__content-btn">
                                        <a href="#" class="thm-btn">Reply</a>
                                    </div>
                                </div>
                                <p>It has survived not only five centuries, but also the leap into electronic
                                    typesetting unchanged. It was popularised in the sheets containing lorem
                                    ipsum is simply free text.</p>
                            </div>
                        </div>
                        <div class="comment-one__single">
                            <div class="comment-one__image">
                                <img src="assets/images/blog/comment-img2.jpg" alt="">
                            </div>
                            <div class="comment-one__content">
                                <div class="comment-one__content-top">
                                    <div class="comment-one__content-text">
                                        <h3>Sarah Albert</h3>
                                    </div>
                                    <div class="comment-one__content-btn">
                                        <a href="#" class="thm-btn">Reply</a>
                                    </div>
                                </div>
                                <p>It has survived not only five centuries, but also the leap into electronic
                                    typesetting unchanged. It was popularised in the sheets containing lorem
                                    ipsum is simply free text.</p>
                            </div>
                        </div>
                    </div>
                    <!--End Comment One -->

                    <div class="news-details__comment-form">
                        <h3 class="comment-form__title">Leave a Comment</h3>
                        <form action="https://layerdrops.com/agriox/assets/inc/sendemail.php" class="comment-one__form contact-form-validated"
                            novalidate="novalidate">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="comment-form__input-box">
                                        <input type="text" placeholder="Your name" name="name">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="comment-form__input-box">
                                        <input type="email" placeholder="Email address" name="email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="comment-form__input-box">
                                        <input type="text" placeholder="Phone number" name="phone">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="comment-form__input-box">
                                        <input type="email" placeholder="Subject" name="Subject">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12">
                                    <div class="comment-form__input-box">
                                        <textarea name="message" placeholder="Write message"></textarea>
                                    </div>
                                    <button type="submit" class="thm-btn comment-form__btn">Submit
                                        comment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--End News Sidebar Laft-->



            <!--Start News Sidebar Sidebar-->
            <div class="col-xl-4 col-lg-5">
                <div class="sidebar">
                    <div class="sidebar__single sidebar__search wow fadeInUp animated animated animated"
                        data-wow-delay="0.1s" data-wow-duration="1200m">
                        <form action="#" class="sidebar__search-form">
                            <input type="search" placeholder="Search here">
                            <button type="submit"><span class="icon-search"></span></button>
                        </form>
                    </div>

                    <div class="sidebar__single sidebar__latest-posts wow fadeInUp animated animated animated"
                        data-wow-delay="0.2s" data-wow-duration="1200m">
                        <div class="title">
                            <h2>Latest Posts</h2>
                        </div>
                        <ul class="sidebar__latest-posts-list">
                            <li class="sidebar__latest-posts-list-item">
                                <div class="img-box">
                                    <img src="assets/images/resources/sidebar-latest-posts-img1.jpg" alt="" />
                                </div>
                                <div class="title">
                                    <p><i class="far fa-comments"></i>2 Comments</p>
                                    <h4><a href="#">Agriculture Miracle <br>you Dont Know About</a></h4>
                                </div>
                            </li>

                            <li class="sidebar__latest-posts-list-item">
                                <div class="img-box">
                                    <img src="assets/images/resources/sidebar-latest-posts-img2.jpg" alt="" />
                                </div>
                                <div class="title">
                                    <p><i class="far fa-comments"></i>2 Comments</p>
                                    <h4><a href="#">Agriculture Miracle <br>you Dont Know About</a></h4>
                                </div>
                            </li>

                            <li class="sidebar__latest-posts-list-item">
                                <div class="img-box">
                                    <img src="assets/images/resources/sidebar-latest-posts-img3.jpg" alt="" />
                                </div>
                                <div class="title">
                                    <p><i class="far fa-comments"></i>2 Comments</p>
                                    <h4><a href="#">Agriculture Miracle <br>you Dont Know About</a></h4>
                                </div>
                            </li>
                        </ul>
                    </div>


                    <div class="sidebar__single sidebar__categories wow fadeInUp animated animated animated"
                        data-wow-delay="0.3s" data-wow-duration="1200m">
                        <div class="title">
                            <h2>Categories</h2>
                        </div>
                        <ul class="sidebar__categories-list">
                            <li><a href="#">Agriculture<span class="icon-right-arrow-angle"></span></a></li>
                            <li><a href="#" class="active">Dairy Farm<span
                                        class="icon-right-arrow-angle"></span></a></li>
                            <li><a href="#">Economy Solution<span class="icon-right-arrow-angle"></span></a>
                            </li>
                            <li><a href="#">Harvests Innovations<span class="icon-right-arrow-angle"></span></a>
                            </li>
                            <li><a href="#">Organic Food<span class="icon-right-arrow-angle"></span></a></li>
                            <li><a href="#">Fresh Vegetables<span class="icon-right-arrow-angle"></span></a>
                            </li>
                        </ul>
                    </div>

                    <div class="sidebar__single sidebar__tag wow fadeInUp animated animated animated"
                        data-wow-delay="0.4s" data-wow-duration="1200m">
                        <div class="title">
                            <h2>Tags</h2>
                        </div>
                        <ul class="sidebar__tag-list">
                            <li><a href="#">Agriculture</a></li>
                            <li><a href="#">dairy</a></li>
                            <li><a href="#">food</a></li>
                            <li><a href="#">organic</a></li>
                            <li><a href="#">Egg</a></li>
                            <li><a href="#">Harvests</a></li>
                        </ul>
                    </div>



                    <div class="sidebar__single sidebar__recent-comments wow fadeInUp animated animated animated"
                        data-wow-delay="0.5s" data-wow-duration="1200m">
                        <div class="title">
                            <h2>Recent Comments</h2>
                        </div>
                        <ul class="sidebar__recent-comments-list">
                            <li class="sidebar__recent-comments-list-item">
                                <div class="icon">
                                    <span class="icon-chat"></span>
                                </div>
                                <div class="text">
                                    <p>A wordpress commenter on <br>launch new mobile app</p>
                                </div>
                            </li>

                            <li class="sidebar__recent-comments-list-item">
                                <div class="icon">
                                    <span class="icon-chat"></span>
                                </div>
                                <div class="text">
                                    <p>John doe on template: <br><span>comments</span></p>
                                </div>
                            </li>

                            <li class="sidebar__recent-comments-list-item">
                                <div class="icon">
                                    <span class="icon-chat"></span>
                                </div>
                                <div class="text">
                                    <p>A wordpress commenter on <br>launch new mobile app</p>
                                </div>
                            </li>

                            <li class="sidebar__recent-comments-list-item">
                                <div class="icon">
                                    <span class="icon-chat"></span>
                                </div>
                                <div class="text">
                                    <p>John doe on template: <br><span>comments</span></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--End News Details Sidebar-->
        </div>
    </div>
</section>
<!--News Details End-->