<!--News Details Start-->
<section class="news-details">
  <div class="container">
    <div class="row">
      <!--Start News Details Laft-->
      <div class="col-xl-8 col-lg-7">
        <div class="news-details__left">
          <!--Start Single Blog One-->
          <div class="blog-one__single">
            <div class="blog-one__single-img">
              <img src="assets/images/blog/blog-v2-img1.jpg" alt="" />
            </div>

            <div class="blog-one__single-content blog-details">
              <ul class="meta-info">
                <li>
                  <a href="#"
                    ><i class="far fa-clock"></i>{{ post.createdAt | date }}</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><i class="far fa-user-circle"></i
                    >{{ post.user.username }}</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><i class="far fa-comments"></i
                    >{{ post.comments.length }} comments</a
                  >
                </li>
              </ul>
              <h2>{{ post.title }}</h2>
              <p [innerHTML]="post.text"></p>
            </div>
          </div>
          <!--End Single Blog One-->

          <!-- <p class="news-details__left-text1">Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                        make a type simen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting.</p>
                    <p class="news-details__left-text2">Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. orem Ipsum has been the industry's standard dummy text ever since
                        the when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.</p> -->

          <div class="tag-social-link">
            <div class="tag-social-link__tag">
              <div class="title">
                <h4>Topic</h4>
              </div>
              <div class="tag-social-link__tag-list">
                <ul>
                  <li>
                    <a href="javascript:void(0);">{{ post.topic }}</a>
                  </li>
                  <!-- <li><a href="#">dairy</a></li> -->
                </ul>
              </div>
            </div>
            <div class="tag-social-link__social-links">
              <ul>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="news-details__pagenation">
            <div class="row">
              <!--Start Single News Details Pagenation-->
              <div class="col-xl-6">
                <div class="news-details__pagenation-single style2">
                  <h2>
                    <a href="#">The Winter Wheat Harvest Gathering Momentum</a>
                  </h2>
                </div>
              </div>
              <!--End Single News Details Pagenation-->

              <!--Start Single News Details Pagenation-->
              <div class="col-xl-6">
                <div class="news-details__pagenation-single active">
                  <h2>
                    <a href="#">The Winter Wheat Harvest Gathering Momentum</a>
                  </h2>
                </div>
              </div>
              <!--End Single News Details Pagenation-->
            </div>
          </div>

          <!--Start Comment One -->
          <div class="comment-one">
            <h3 class="comment-one__title">
              {{ post.comments.length }} comments
            </h3>
            <!-- <div class="comment-one__single">
                            <div class="comment-one__image">
                                <img src="assets/images/blog/comment-img1.jpg" alt="">
                            </div>
                            <div class="comment-one__content">
                                <div class="comment-one__content-top">
                                    <div class="comment-one__content-text">
                                        <h3>Kevin Martin</h3>
                                    </div>
                                    <div class="comment-one__content-btn">
                                        <a href="#" class="thm-btn">Reply</a>
                                    </div>
                                </div>
                                <p>It has survived not only five centuries, but also the leap into electronic
                                    typesetting unchanged. It was popularised in the sheets containing lorem
                                    ipsum is simply free text.</p>
                            </div>
                        </div> -->
          </div>
          <!--End Comment One -->

          <div class="news-details__comment-form">
            <h3 class="comment-form__title">Leave a Comment</h3>
            <form
              [formGroup]="commentForm"
              class="comment-one__form contact-form-validated"
            >
              <div class="row">
                <div class="col-xl-12 col-lg-12">
                  <div class="comment-form__input-box">
                    <textarea
                      formControlName="content"
                      name="message"
                      placeholder="Write message"
                    ></textarea>
                  </div>
                  <button type="submit" class="thm-btn comment-form__btn">
                    Submit comment
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--End News Sidebar Laft-->

      <!--Start News Sidebar Sidebar-->
      <div class="col-xl-4 col-lg-5">
        <div class="sidebar">
          <div
            class="sidebar__single sidebar__search wow fadeInUp animated animated animated"
            data-wow-delay="0.1s"
            data-wow-duration="1200m"
          >
            <form action="#" class="sidebar__search-form">
              <input type="search" placeholder="Search here" />
              <button type="submit"><span class="icon-search"></span></button>
            </form>
          </div>

          <div
            class="sidebar__single sidebar__latest-posts wow fadeInUp animated animated animated"
            data-wow-delay="0.2s"
            data-wow-duration="1200m"
          >
            <div class="title">
              <h2>Latest Posts</h2>
            </div>
            <ul class="sidebar__latest-posts-list">
              <li
                class="sidebar__latest-posts-list-item"
                *ngFor="let p of latestPosts"
              >
                <div class="img-box">
                  <img
                    src="assets/images/resources/sidebar-latest-posts-img1.jpg"
                    alt=""
                  />
                </div>
                <div class="title">
                  <p>
                    <i class="far fa-comments"></i
                    >{{ p.comments.length }} Comments
                  </p>
                  <h4>
                    <a href="javascript:void(0);">{{ p.title }}</a>
                  </h4>
                </div>
              </li>
            </ul>
          </div>

          <div
            class="sidebar__single sidebar__categories wow fadeInUp animated animated animated"
            data-wow-delay="0.3s"
            data-wow-duration="1200m"
          >
            <div class="title">
              <h2>Categories</h2>
            </div>

            <ul class="sidebar__categories-list">
              <li>
                <a
                  href="javascript:void(0);"
                  id="agriculture-link"
                  [ngClass]="{
                    active: post.topic.toLowerCase() === 'agriculture'
                  }"
                  >Agriculture<span class="icon-right-arrow-angle"></span
                ></a>
              </li>
              <li>
                <a
                  href="javascript:void(0);"
                  id="farming-link"
                  [ngClass]="{ active: post.topic.toLowerCase() === 'farming' }"
                  >Farming<span class="icon-right-arrow-angle"></span
                ></a>
              </li>
              <li>
                <a
                  href="javascript:void(0);"
                  id="ranching-link"
                  [ngClass]="{
                    active: post.topic.toLowerCase() === 'ranching'
                  }"
                  >Ranching<span class="icon-right-arrow-angle"></span
                ></a>
              </li>
            </ul>
          </div>

          <div
            class="sidebar__single sidebar__tag wow fadeInUp animated animated animated"
            data-wow-delay="0.4s"
            data-wow-duration="1200m"
          >
            <div class="title">
              <h2>Tags</h2>
            </div>
            <ul class="sidebar__tag-list">
              <li><a href="javascript:void(0);">Agriculture</a></li>
              <li><a href="javascript:void(0);">dairy</a></li>
              <li><a href="javascript:void(0);">food</a></li>
              <li><a href="javascript:void(0);">organic</a></li>
              <li><a href="javascript:void(0);">Egg</a></li>
              <li><a href="javascript:void(0);">Harvests</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--End News Details Sidebar-->
    </div>
  </div>
</section>
<!--News Details End-->
