<div class="row justify-content-center mt-7">
    <div class="col-lg-5 text-center">
      <a href="index.html">
        <img src="assets/img/svg/logo.svg" alt="">
      </a>
      <div class="card mt-5">
        <div class="card-body py-5 px-lg-5">
          <div class="svg-icon svg-icon-xl text-purple">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-g</title><path d="M336,208V113a80,80,0,0,0-160,0v95" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path><rect x="96" y="208" width="320" height="272" rx="48" ry="48" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></rect></svg>
          </div>
          <h3 class="fw-normal text-dark mt-4">
            2-step verification
          </h3>
          <p class="mt-4 mb-1">
            We sent a verification code to your email.
          </p>
          <p>
            Please enter the code in the field below.
          </p>
          <form [formGroup]="verifyOTPForm" (ngSubmit)="onSubmit()" >
 
          <div class="row mt-4 pt-2">
            <div class="col">
              <input type="text" class="form-control form-control-lg text-center py-4"name="firstNumber" formControlName="firstNumber" maxlength="1" autofocus="">
            </div>
            <div class="col">
              <input type="text" class="form-control form-control-lg text-center py-4"name="secondNumber" formControlName="secondNumber" maxlength="1">
            </div>
            <div class="col">
              <input type="text" class="form-control form-control-lg text-center py-4" name="thirdNumber" formControlName="thirdNumber" maxlength="1">
            </div>
            <div class="col">
              <input type="text" class="form-control form-control-lg text-center py-4" name="fourthNumber" formControlName="fourthNumber" maxlength="1">
            </div>
          </div>
          <button type="submit" class="btn btn-purple btn-lg w-100 hover-lift-light mt-4">
            Verify my account
          </button>
          </form>
        </div>
      <p class="text-center text-muted mt-4">
        Didn't receive it?
        <button  class="text-decoration-none ms-2" >
          Resend code
        </button>
      </p>
    </div>
  </div> 
  <br>
  <br> 
  <!-- will do a spacing after-->