body{margin-top:20px;
    background:#f6f9fc;
    }
    .icon-circle[class*=text-] [fill]:not([fill=none]), .icon-circle[class*=text-] svg:not([fill=none]), .svg-icon[class*=text-] [fill]:not([fill=none]), .svg-icon[class*=text-] svg:not([fill=none]) {
        fill: currentColor!important;
    }
    .svg-icon-xl>svg {
        width: 3.25rem;
        height: 3.25rem;
    }
    
    .hover-lift-light {
        transition: box-shadow .25s ease,transform .25s ease,color .25s ease,background-color .15s ease-in;
    }
    .mt-4 {
        margin-top: 1.5rem!important;
    }
    .w-100 {
        width: 100%!important;
    }
    .btn-group-lg>.btn, .btn-lg {
        padding: 0.8rem 1.85rem;
        font-size: 1.1rem;
        border-radius: 0.3rem;
    }
    .btn-purple {
        color: #fff;
        background-color: #6672e8;
        border-color: #6672e8;
    }
    
    .text-center {
        text-align: center!important;
    }
    .py-4 {
        padding-top: 1.5rem!important;
        padding-bottom: 1.5rem!important;
    }
    .form-control-lg {
        min-height: calc(1.5em + 1rem + 2px);
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        border-radius: 0.3rem;
    }
    .form-control {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #1e2e50;
        background-color: #f6f9fc;
        background-clip: padding-box;
        border: 1px solid #dee2e6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }