<div id="main-wrapper" class="container mb-4 mt-4">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card border-1 mt-4">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="mb-5">
                                    <h3 class="h4 font-weight-bold text-theme">Login</h3>
                                </div>

                                <h6 class="h5 mb-0">Welcome back!</h6>
                                <p class="text-muted mt-2 mb-5">Enter your email address and password to access admin panel.</p>
                                <div *ngIf="loginform.controls['email'].invalid && (loginform.controls['email'].dirty || loginform.controls['email'].touched)">
                                    <div *ngIf="loginform.controls['email'].hasError('required')" class="text-danger">
                                        email is required
                                    </div>
                                </div>
                                <div *ngIf="loginform.controls['password'].invalid && (loginform.controls['password'].dirty || loginform.controls['password'].touched)">
                                    <div *ngIf="loginform.controls['password'].hasError('required')" class="text-danger">
                                        password is required
                                    </div>
                                </div>
                                <form [formGroup]="loginform" (ngSubmit)="login(loginform.value)">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control"  formControlName="email" [ngClass]="Valid('email',loginform)" id="exampleInputEmail1">
                                    </div>
                                    <div class="form-group mb-5">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control"  formControlName="password" [ngClass]="Valid('password',loginform)" id="exampleInputPassword1">
                                    </div>
                                    <button type="submit" class="btn btn-theme forgot-link d-flex justify-content-start">Login</button>
                                    <a href="#l" class="forgot-link d-flex justify-content-end text-primary">Forgot password?</a>
                                </form>
                              <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

                              <div class="google-btn">
                                <div class="google-icon-wrapper">
                                  <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                                </div>
                                <p class="btn-text"><b>Sign in with google</b></p>
                              </div>
                            </div>



                        </div>

                        <div class="col-lg-6 d-none d-lg-inline-block">
                            <div class="account-block rounded-right">
                                <div class="overlay rounded-right"></div>
                                <div class="account-testimonial">
                                    <!-- <h4 class="text-white mb-4">This  beautiful theme yours!</h4>
                                    <p class="lead text-white">"Best investment i made for a long time. Can only recommend it for other users."</p>
                                    <p>- Admin User</p> -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->

            <p class="text-muted text-center mt-3 mb-2 ">Don't have an account? <a routerLink="../signup" class="text-primary ml-1">register</a></p>

            <!-- end row -->

        </div>

        <!-- end col -->
    </div>
    <!-- Row -->
</div>
