<section class="page-header clearfix" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg);">
  <div class="container">
    <div class="page-header__inner text-center clearfix">
      <ul class="thm-breadcrumb">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/marketplace">Shop</a></li>
        <li>Product Details</li>
      </ul>
      <h2>Product Details</h2>
    </div>
  </div>
</section>

<section class="product-details">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="product-details__image">
          <img src="{{product?.image}}" alt="">
        </div><!-- /.product-details__image -->
      </div><!-- /.col-lg-6 -->
      <div class="col-lg-6">
        <div class="product-details__content">
          <div class="product-details__content__top">
            <h3 class="product-details__content__name">{{product?.name}}</h3>
            <!-- /.product-details__content__name -->
            <div class="product-details__content__price">${{product?.price}}</div>
            <!-- /.product-details__content__price -->
          </div><!-- /.product-details__content__top -->
          <div class="product-details__content__rating">
            <div class="product-details__content__rating__star">
              <i class="fa fa-star" *ngFor="let star of getStars(product?.rating?.average ?? 0)"></i>
            </div><!-- /.product-details__content__rating__star -->
            <div class="product-details__content__rating__value"></div>

            <div class="product-details__content__rating__count">{{product?.reviews?.length}} Customer Reviews</div>
            <!-- /.product-details__content__rating__count -->
          </div><!-- /.product-details__content__rating -->
          <div class="product-details__content__text" *ngIf="product">
            <p *ngIf="product.inSale" class="sale-text">On Sale!</p>
            <div *ngIf="product.quantity > 0">
              <p  style="color: #007701">Available in store</p>
              <p style="margin-top: -10px">Quantity: {{product?.quantity}}</p>
            </div>
            <p *ngIf="product?.quantity == 0" style="color: red">Out of stock</p>
          </div><!-- /.product-details__content__text -->
          <div class="product-details__content__quantity">
            <div class="product-details__content__quantity__text">Choose Quantity</div>
            <!-- /.product-details__content__quantity__text -->
            <div class="quantity-box">
              <button type="button" class="sub"><i class="fa fa-minus"></i></button>
              <input type="number" id="product-1" value="1">
              <button type="button" class="add"><i class="fa fa-plus"></i></button>
            </div>
          </div><!-- /.product-details__content__quantity -->

          <div class="product-details__content__buttons">
            <a href="cart.html" class="thm-btn cart-btn">Add to cart</a><!-- /.thm-btn -->
            <a href="#" class="thm-btn wishlist-btn">add to wishlist</a>
            <!-- /.thm-btn wishlist-btn -->
          </div><!-- /.product-details__content__buttons -->
          <div class="product-details__content__social">
            <div class="product-details__content__social__text">Share with friends</div>
            <!-- /.product-details__content__social__text -->
            <a href="#" class="fab fa-facebook"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-pinterest-p"></a>
          </div><!-- /.product-details__content__social -->
        </div><!-- /.product-details__content -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>


<section class="product-content">
  <div class="container">
    <h2 class="product-content__title">Description</h2><!-- /.product-content__title -->
    <p>{{product?.description}}</p>
  </div><!-- /.container -->
</section>


<section class="product-review">
  <div class="container">
    <h2 class="product-content__title">{{product?.reviews?.length}} Reviews</h2><!-- /.product-content__title -->
    <div class="product-review__item" *ngFor="let review of product?.reviews?.slice(-numberOfReviewsToShow)?.reverse()">
      <div class="product-review__item__image">
        <img src="{{review.userReview.image}}" alt="" style="width: 100px; height: 100px">
      </div><!-- /.product-review__item__image -->
      <div class="product-review__item__content">
        <div class="product-review__item__star">
          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
            <i class="fa" [ngClass]="{ 'fa-star': star <= review.rating, 'fa-star-o': star > review.rating }"></i>
          </ng-container>
        </div><!-- /.product-review__item__star -->

        <h3 class="product-review__item__title">{{review.userReview.username}}</h3>
        <div class="product-review__item__meta">
          {{ review.createdAt | date:'dd MMM, yyyy'}}  <span>.</span> {{ review.createdAt | date:'hh:mm a'}}
        </div><!-- /.product-review__item__meta -->
        <p class="product-review__item__text">{{review.comment}} </p>
        <!-- /.product-review__item__text -->
      </div><!-- /.product-review__item__content -->
    </div><!-- /.product-review__item -->
    <div class="row" *ngIf="numberOfReviewsToShow < (product?.reviews?.length ?? 0)">
      <div class="col-lg-12 text-center">
        <div class="news-sidebar__btn">
          <a (click)="showMoreReviews()" class="thm-btn">load more</a>
        </div>
      </div><!-- /.col-lg-12 text-center -->
    </div>

  </div><!-- /.container -->
</section>


<section class="product-form">
  <div class="container">

    <form action="https://layerdrops.com/agriox/assets/inc/sendemail.php" class="comment-one__form contact-form-validated" novalidate="novalidate" [formGroup]="reviewForm">
      <h2 class="product-content__title">Add a Review</h2><!-- /.product-content__title -->
      <div class="product-form__rating">
        Rate this Product
        <div class="rating">

          <input type="radio" formControlName="rating"  id="star5" name="rating" value="5" required><label for="star5"></label>
          <input type="radio" formControlName="rating" id="star4" name="rating" value="4"><label for="star4"></label>
          <input type="radio" formControlName="rating" id="star3" name="rating" value="3"><label for="star3"></label>
          <input type="radio" formControlName="rating" id="star2" name="rating" value="2"><label for="star2"></label>
          <input type="radio" formControlName="rating" id="star1" name="rating" value="1"><label for="star1"></label>

        </div>
      </div>
      <span
        class="text-danger error-msg"
        *ngIf="
                          (reviewForm.controls['comment'].invalid &&
                            reviewForm.controls['comment'].dirty) ||
                          reviewForm.controls['comment'].touched
                        "
      >
      <span *ngIf="reviewForm.controls['rating'].hasError('required')"
        class="error">please select a rating !</span>
      </span>
      <div class="row">
        <div class="col-xl-12">
          <div class="comment-form__input-box">
            <textarea name="message" placeholder="Write message" formControlName="comment"></textarea>
          </div>
          <span
            class="text-danger error-msg"
            *ngIf="
                          (reviewForm.controls['comment'].invalid &&
                            reviewForm.controls['comment'].dirty) ||
                          reviewForm.controls['comment'].touched
                        "
          >
          <span
            *ngIf="reviewForm.controls['comment'].hasError('required')"
            class="error"
          >this field is required !</span
          >
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <button (click)="submit()" type="submit" class="thm-btn comment-form__btn" [disabled]="reviewForm.invalid || reviewExist">Submit
            review</button>
        </div>
      </div>
    </form>
  </div><!-- /.container -->
</section>
