<div class="container ">
  <div class="row ">
    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
      <div class="d-table-cell align-middle">
        <div class="card mt-3 mb-4">
          <div class="card-body">
            <div class="text-center mt-4">
              <h1 class="h2">Change Email</h1>
              <p class="lead">
                Enter your new email.
              </p>
            </div>
            <div class="m-sm-4">
              <form [formGroup]="emailForm" (ngSubmit)="changeEmail(emailForm.value)">
                <div class="form-group" >
                  <label>Email</label>
                  <input class="form-control form-control-lg" type="email" formControlName="email" [ngClass]="Valid('email',emailForm)" name="email" placeholder="Enter your email">
                </div>
                <div *ngIf="emailForm.controls['email'].invalid && (emailForm.controls['email'].dirty || emailForm.controls['email'].touched)">
                  <div *ngIf="emailForm.controls['email'].hasError('required')" class="text-danger">
                    *email is required .
                  </div>
                  <div *ngIf="emailForm.controls['email'].hasError('email')" class="text-danger">
                    *please enter a valid email .
                  </div>

                </div>


                <div class="text-center mt-3">
                  <button class="btn btn-lg btn-primary">Confirm</button>
                  <!-- <button type="submit" class="btn btn-lg btn-primary">Reset email</button> -->
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
