<h2>Admin Dashboard</h2>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total Users</h5>
        <p class="card-text">{{userList.length}}</p>
      </div>
    </div>
  </div>
  
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total Farmers</h5>
        <p class="card-text">{{numberOfarmers}}</p>
      </div>
    </div>
  </div>
  
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total Admins</h5>
        <p class="card-text">{{numberOfAdmins}}</p>
      </div>
    </div>
  </div>
  
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total Clients</h5>
        <p class="card-text">{{numberOfClients}}</p>
      </div>
    </div>
  </div>
  
</div>
<!-- <div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Users Created Today</h5>
        <p class="card-text">{{ userService.getUserCountByDate(new Date()) }}</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Active Users</h5>
        <p class="card-text">{{ userService.getActiveUserCount() }}</p>
      </div>
    </div>
  </div> -->
