
		<!--Page Header Start-->
		<section class="page-header clearfix"
			style="background-image: url(assets/images/backgrounds/page-header-bg.jpg);">
			<div class="container">
				<div class="page-header__inner text-center clearfix">
					<ul class="thm-breadcrumb">
						<li><a routerLink="/home">Home</a></li>
						<li>News</li>
					</ul>
					<h2>Latest News</h2>
				</div>
			</div>
		</section>
		<!--Page Header End-->

		<!--Blog One Start-->
		<section class="blog-one blog-one--news">
			<div class="blog-one__bg wow slideInDown" data-wow-delay="100ms" data-wow-duration="2500ms"></div>
			<div class="container">
				<div class="row">
					<!--Start Single Blog One-->
					<div class="col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="blog-one__single">
							<div class="blog-one__single-img">
								<img src="assets/images/update-20-12-2021/blog/blog-2-col-1-1.png" alt="" />
								<div class="date-box">
									<span>30 July, 2021</span>
								</div>
								<div class="overlay-icon">
									<a href="news-details.html"><span class="icon-plus"></span></a>
								</div>
							</div>

							<div class="blog-one__single-content">
								<ul class="meta-info">
									<li><a href="#"><i class="far fa-user-circle"></i>Jessica</a></li>
									<li><a href="#"><i class="far fa-comments"></i>2 Comments</a></li>
								</ul>
								<h2><a href="news-details.html">Why Eco and Walking or Agriculture for the
										Environment?</a></h2>
							</div>
						</div>
					</div>
					<!--End Single Blog One-->

					<!--Start Single Blog One-->
					<div class="col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="blog-one__single">
							<div class="blog-one__single-img">
								<img src="assets/images/update-20-12-2021/blog/blog-2-col-1-2.png" alt="" />
								<div class="date-box">
									<span>30 July, 2021</span>
								</div>
								<div class="overlay-icon">
									<a href="news-details.html"><span class="icon-plus"></span></a>
								</div>
							</div>

							<div class="blog-one__single-content">
								<ul class="meta-info">
									<li><a href="#"><i class="far fa-user-circle"></i>Jessica</a></li>
									<li><a href="#"><i class="far fa-comments"></i>2 Comments</a></li>
								</ul>
								<h2><a href="news-details.html">Leverage agile frameworks to provide a robust
										synopsis</a></h2>
							</div>
						</div>
					</div>
					<!--End Single Blog One-->

					<!--Start Single Blog One-->
					<div class="col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
						<div class="blog-one__single">
							<div class="blog-one__single-img">
								<img src="assets/images/update-20-12-2021/blog/blog-2-col-1-3.png" alt="" />
								<div class="date-box">
									<span>30 July, 2021</span>
								</div>
								<div class="overlay-icon">
									<a href="news-details.html"><span class="icon-plus"></span></a>
								</div>
							</div>

							<div class="blog-one__single-content">
								<ul class="meta-info">
									<li><a href="#"><i class="far fa-user-circle"></i>Jessica</a></li>
									<li><a href="#"><i class="far fa-comments"></i>2 Comments</a></li>
								</ul>
								<h2><a href="news-details.html">Bring to the table win-win survival strategies to
										ensure</a></h2>
							</div>
						</div>
					</div>
					<!--End Single Blog One-->

					<!--Start Single Blog One-->
					<div class="col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
						<div class="blog-one__single">
							<div class="blog-one__single-img">
								<img src="assets/images/update-20-12-2021/blog/blog-2-col-1-4.png" alt="" />
								<div class="date-box">
									<span>30 July, 2021</span>
								</div>
								<div class="overlay-icon">
									<a href="news-details.html"><span class="icon-plus"></span></a>
								</div>
							</div>

							<div class="blog-one__single-content">
								<ul class="meta-info">
									<li><a href="#"><i class="far fa-user-circle"></i>Jessica</a></li>
									<li><a href="#"><i class="far fa-comments"></i>2 Comments</a></li>
								</ul>
								<h2><a href="news-details.html">Capitalize on low hanging fruit to identify a
										ballpark</a></h2>
							</div>
						</div>
					</div>
					<!--End Single Blog One-->

					<!--Start Single Blog One-->
					<div class="col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
						<div class="blog-one__single">
							<div class="blog-one__single-img">
								<img src="assets/images/update-20-12-2021/blog/blog-2-col-1-5.png" alt="" />
								<div class="date-box">
									<span>30 July, 2021</span>
								</div>
								<div class="overlay-icon">
									<a href="news-details.html"><span class="icon-plus"></span></a>
								</div>
							</div>

							<div class="blog-one__single-content">
								<ul class="meta-info">
									<li><a href="#"><i class="far fa-user-circle"></i>Jessica</a></li>
									<li><a href="#"><i class="far fa-comments"></i>2 Comments</a></li>
								</ul>
								<h2><a href="news-details.html">Taking seamless key performance indicators offline
										to</a></h2>
							</div>
						</div>
					</div>
					<!--End Single Blog One-->

					<!--Start Single Blog One-->
					<div class="col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
						<div class="blog-one__single">
							<div class="blog-one__single-img">
								<img src="assets/images/update-20-12-2021/blog/blog-2-col-1-6.png" alt="" />
								<div class="date-box">
									<span>30 July, 2021</span>
								</div>
								<div class="overlay-icon">
									<a href="news-details.html"><span class="icon-plus"></span></a>
								</div>
							</div>

							<div class="blog-one__single-content">
								<ul class="meta-info">
									<li><a href="#"><i class="far fa-user-circle"></i>Jessica</a></li>
									<li><a href="#"><i class="far fa-comments"></i>2 Comments</a></li>
								</ul>
								<h2><a href="news-details.html">Override the digital divide with additional click
										throughs</a></h2>
							</div>
						</div>
					</div>
					<!--End Single Blog One-->
				</div>
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="news-sidebar__btn">
							<a href="#" class="thm-btn">load more post</a>
						</div>
					</div><!-- /.col-lg-12 text-center -->
				</div><!-- /.row -->
			</div>
		</section>
		<!--Blog One End-->
