<!--Page Header Start-->
<section
  class="page-header clearfix"
  style="background-image: url(assets/images/backgrounds/page-header-bg.jpg)"
>
  <div class="container">
    <div class="page-header__inner text-center clearfix">
      <ul class="thm-breadcrumb">
        <li><a routerLink="/home">Home</a></li>
        <li>News</li>
      </ul>
      <h2>Latest News</h2>
    </div>
  </div>
</section>
<!--Page Header End-->

<!--Blog One Start-->
<section class="blog-one blog-one--news">
  <div
    class="blog-one__bg wow slideInDown"
    data-wow-delay="100ms"
    data-wow-duration="2500ms"
  ></div>
  <div class="container">
    <div class="row">
      <!--Start Single Blog One-->
      <div
        class="col-lg-6 col-md-6 wow fadeInLeft"
        data-wow-delay="0ms"
        data-wow-duration="1500ms"
        *ngFor="let p of posts"
      >
        <div class="blog-one__single">
          <div class="blog-one__single-img">
            <img
              src="assets/images/update-20-12-2021/blog/blog-2-col-1-1.png"
              alt=""
            />
            <div class="date-box">
              <span>{{ p.createdAt | date }}</span>
            </div>
            <div class="overlay-icon">
              <a routerLink="/detailnews/{{ p.id }}"
                ><span class="icon-plus"></span
              ></a>
            </div>
          </div>

          <div class="blog-one__single-content">
            <ul class="meta-info">
              <li>
                <a href="javascript:void(0);"
                  ><i class="far fa-user-circle"></i>{{ p.user.username }}</a
                >
              </li>
              <li>
                <a href="javascript:void(0);"
                  ><i class="far fa-comments"></i
                  >{{ p.comments.length }} comments</a
                >
              </li>
            </ul>
            <h2>
              <a href="javascript:void(0);">{{ p.title }}</a>
            </h2>
          </div>
        </div>
      </div>
      <!--End Single Blog One-->
    </div>
    <!-- <div class="row">
					<div class="col-lg-12 text-center">
						<div class="news-sidebar__btn">
							<a href="#" class="thm-btn">load more post</a>
						</div>
					</div>
				</div> -->
  </div>
</section>
<!--Blog One End-->
