<!--Page Header Start-->
<section class="page-header clearfix"
style="background-image: url(assets/images/backgrounds/page-header-bg.jpg);">
<div class="container">
    <div class="page-header__inner text-center clearfix">
        <ul class="thm-breadcrumb">
            <li><a routerLink="/home" >Home</a></li>
            <li>401 Unauthorized</li>
        </ul>
        <h2>401 Error</h2>
    </div>
</div>
</section>
<!--Page Header End-->


<!--Start Error Page One-->
<section class="error-page">
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="error-page__wrapper text-center">
                <div class="error-page__big-title">
                    <h2>401</h2>
                </div>
                <div class="error-page__content">
                    <h2>Reset link is expired </h2>
                    <p>The reset password link expired , try resend it again</p>
                </div>
                <!-- <div class="error-page__search">
                    <form class="search-form" action="#">
                        <input placeholder="Search here" type="text">
                        <button type="submit"><i class="icon-search"></i></button>
                    </form>
                </div> -->
                <div class="error-page__btn">
                    <a routerLink="/forgetpassword"class="thm-btn">Back to forget password </a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!--End Error Page One-->