<div class="container bootstrap snippets bootdeys d-flex justify-content-center m-5">
  <div class="col-md-7 col-xs-12 col-md-offset-2">
    <!-- Panel Chat -->
    <div class="panel" id="chat">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="icon wb-chat-text" aria-hidden="true"></i> Chat
        </h3>
      </div>
      <div class="panel-body">
        <div class="chats">
          <div *ngFor="let message of  messages | keyvalue" class="chat" [ngClass]="{'chat-left':   message.key === 'user1' }">
            <div class="chat-avatar">
              <a class="avatar avatar-online" data-toggle="tooltip" href="#" data-placement="right" title="" >
                <i></i>
              </a>
            </div>
            <div class="chat-body">
              <div class="chat-content">
                <p>{{message.value}}</p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <form #f="ngForm" (submit)="sendMessage()">
          <div class="input-group">
            <input type="text" [(ngModel)]="messageContent" name="messageContent" placeholder="Type your message here...">
         
              <span class="input-group-btn">
                <button [disabled]="f.invalid"  (click)="sendMessage()" class="btn btn-primary" type="button">Send</button>

              </span>
             
          </div>
        </form>
      </div>
    </div>
    <!-- End Panel Chat -->
  </div>
</div>