<!-- <div class="container bootstrap snippets bootdeys d-flex justify-content-center m-5">
  <div class="col-md-7 col-xs-12 col-md-offset-2">
    <div class="panel" id="chat">
      <div class="chat">
        <div class="chat-header clearfix">
            <div class="row">
                <div class="col-lg-6">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                        <img src="{{ReciverUser.image}}" alt="avatar">
                    </a>
                    <div class="chat-about">
                        <h6 class="m-b-0">{{ReciverUser.username}}</h6>
                    </div>
                </div>
                
            </div>
        </div>
      <div class="panel-body">
        
        
        <div class="chats">
          <div *ngFor="let message of  myobj " class="chat" [ngClass]="{'chat-left':   message.key === 'user2' }">
            <div class="chat-avatar">
              <a class="avatar avatar-online" data-toggle="tooltip" href="#" data-placement="right" title="" >
                <i></i>
              </a>
            </div>
            <div class="chat-body">
              <div class="chat-content">
                <p>{{message.value}}</p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <form #f="ngForm" (submit)="sendMessage()">
          <div class="input-group">
            <input type="text" [(ngModel)]="messageContent" name="messageContent" placeholder="Type your message here...">
         
              <span class="input-group-btn">
                <button [disabled]="f.invalid"  (click)="sendMessage()" class="btn btn-primary" type="button">Send</button>

              </span>
             
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">

        <div class="chat">
          <div class="chat-header clearfix">
            <div class="row">
              <div class="col-lg-6">
                <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                  <img src="{{ReciverUser.image}}" alt="avatar">
                </a>
                <div class="chat-about">
                  <h6 class="m-b-0">{{ReciverUser.username}}</h6>
                </div>

              </div>
              <hr>
            </div>

            <div class="chat-history">
              <ul class="m-b-0">
                <div class="chat">
                  
                  <li class="clearfix" *ngFor="let message of  myobj ">
                    <div [ngClass]="{'message other-message float-right':   message.key === 'user1',
              'message my-message':   message.key === 'user2'     }">{{message.value}}
                    </div>
                  </li>
                </div>
              </ul>
            </div>
            <div class="chat-message clearfix">
              <div class="input-group mb-0">
                <div class="input-group-prepend">
                  <!-- <span  class="input-group-text"><i class="fa fa-send"></i></span> -->
                  <button (click)="sendMessage()" class="input-group-text" type="button"><i class="fa fa-send"></i>Send</button>

                </div>
                <input type="text"  [(ngModel)]="messageContent" name="messageContent" class="form-control" placeholder="Enter text here...">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>