<body>
  <div id="main-wrapper" class="container mb-4 mt-4">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="card border-1 mt-4">
          <div class="card-body p-0">
            <div class="row no-gutters">
              <div class="col-lg-6 d-none d-lg-inline-block">
                <div class="account-block rounded-right">
                  <div class="overlay rounded-right"></div>
                  <div class="account-testimonial">
                    <h4 class="text-white mb-4">
                      already have an account?
                      <a routerLink="../../login">Sign in</a>
                    </h4>
                    <p class="lead text-white">
                      Registration takes less than a minute but gives you many
                      features.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="mb-5">
                    <h3 class="h4 font-weight-bold text-theme">Sign up</h3>
                  </div>

                  <form
                    [formGroup]="registerForm"
                    (ngSubmit)="register()"
                    *ngIf="registerForm"
                  >
                    <div
                      class="form-group"
                      [ngClass]="{ 'has-error': usernameExist }"
                    >
                      <label for="username">Username</label>
                      <input
                        name="username"
                        formControlName="username"
                        id="username"
                        type="text"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': usernameExist }"
                      />
                      <span
                        class="text-danger error-msg error-msg"
                        *ngIf="
                          (registerForm.controls['username'].invalid &&
                            registerForm.controls['username'].dirty) ||
                          registerForm.controls['username'].touched
                        "
                      >
                        <span
                          *ngIf="
                            registerForm.controls['username'].hasError(
                              'required'
                            )
                          "
                          class="error"
                          >This field is required!</span
                        >
                        <span
                          *ngIf="
                            registerForm.controls['username'].hasError(
                              'minlength'
                            )
                          "
                          class="error"
                          >Minimum length is 3!</span
                        >
                        <span
                          *ngIf="
                            registerForm.controls['username'].hasError(
                              'pattern'
                            )
                          "
                          class="error"
                          >Symbols are not allowed!</span
                        >
                      </span>
                      <span *ngIf="usernameExist" class="help-block"
                        >Username already used!</span
                      >
                    </div>

                    <div
                      class="form-group"
                      [ngClass]="{ 'has-error': emailExist }"
                    >
                      <label for="email">Email address</label>
                      <input
                        name="email"
                        formControlName="email"
                        id="email"
                        type="text"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': emailExist }"
                      />
                    </div>
                    <span
                      class="text-danger error-msg error-msg"
                      *ngIf="
                        (registerForm.controls['email'].invalid &&
                          registerForm.controls['email'].dirty) ||
                        registerForm.controls['email'].touched
                      "
                    >
                      <span
                        *ngIf="
                          registerForm.controls['email'].hasError('required')
                        "
                        class="error"
                        >this field is required !</span
                      >
                      <span
                        *ngIf="registerForm.controls['email'].hasError('email')"
                        class="error"
                        >enter a valid email !</span
                      >
                    </span>
                    <span *ngIf="emailExist" class="help-block"
                      >Email already used!</span
                    >
                    <div class="form-group">
                      <label for="phone">Phone</label><br />
                      <input
                        name="phone"
                        formControlName="phone"
                        id="phone"
                        type="text"
                        class="form-control"
                        ng2TelInput
                        [ng2TelInputOptions]="{
                          initialCountry: 'tn',
                          autoHideDialCode: false,
                          separateDialCode: true
                        }"
                        (countryChange)="onCell1CountryChange($event)"
                      />
                    </div>
                    <span
                      class="text-danger error-msg error-msg"
                      *ngIf="
                        (registerForm.controls['phone'].invalid &&
                          registerForm.controls['phone'].dirty) ||
                        registerForm.controls['phone'].touched
                      "
                    >
                      <span
                        *ngIf="
                          registerForm.controls['phone'].hasError('required')
                        "
                        class="error"
                        >this field is required !</span
                      >
                      <span
                        *ngIf="
                          registerForm.controls['phone'].hasError('pattern')
                        "
                        class="error"
                        >phone should be digits
                      </span>
                      <span
                        *ngIf="
                          registerForm.controls['phone'].hasError('minlength')
                        "
                        class="error"
                        >phone should't be less than 8 digits
                      </span>
                      <span
                        *ngIf="
                          registerForm.controls['phone'].hasError('maxlength')
                        "
                        class="error"
                        >phone should't be more than 15 digits
                      </span>
                    </span>
                    <!-- <div class="form-control-group">
                      <label class="label" for="input-mobile">Mobile<span class="text-danger"> *</span></label>
                      <input nbInput type="text" id="input-mobile" class="input-mobile" name="mobile" placeholder="Mobile" fullWidth fieldSize="large" formControlName="mobile" inputmode="numeric" digitOnly
                        ng2TelInput [ng2TelInputOptions]="{initialCountry: 'in'}">
            </div> -->
                    <div class="form-group">
                      <label for="birthday">Birthday</label><br />
                      <input
                        class="form-control"
                        formControlName="birthday"
                        id="birthday"
                        name="birthday"
                        type="date"
                        max="{{today | date:'yyyy-MM-dd'}}"
                      />
                    </div>
                    <span
                      class="text-danger error-msg error-msg"
                      *ngIf="registerForm.controls['birthday'].invalid  && registerForm.controls['birthday'].touched">
                        <span *ngIf="registerForm.controls['birthday'].hasError('required')" class="error">This field is required!</span>
                        <span *ngIf="registerForm.controls['birthday'].hasError('futureDate')" class="error">Birthday must be in the past</span>

              </span>
                    <div class="form-group">
                      <label for="gender">Gender</label>
                      <select
                        name="gender"
                        formControlName="gender"
                        id="gender"
                        class="form-control"
                      >
                        <option value="MALE">Male</option>
                        <option value="FEMALE">Female</option>
                      </select>
                    </div>
                    <span
                      class="text-danger error-msg"
                      *ngIf="
                        (registerForm.controls['gender'].invalid &&
                          registerForm.controls['gender'].dirty) ||
                        registerForm.controls['gender'].touched
                      "
                    >
                      <span
                        *ngIf="
                          registerForm.controls['gender'].hasError('required')
                        "
                        class="error"
                        >this field is required !</span
                      >
                    </span>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input
                        name="password"
                        formControlName="password"
                        id="password"
                        type="password"
                        class="form-control"
                      />
                    </div>
                    <span
                      class="text-danger error-msg"
                      *ngIf="
                        (registerForm.controls['password'].invalid &&
                          registerForm.controls['password'].dirty) ||
                        registerForm.controls['password'].touched
                      "
                    >
                      <span
                        *ngIf="
                          registerForm.controls['password'].hasError(
                            'minlength'
                          )
                        "
                        class="error"
                        >Password must be at least 6 characters long !
                      </span>
                      <span
                        *ngIf="
                          registerForm.controls['password'].hasError(
                            'maxlength'
                          )
                        "
                        class="error"
                        >Password cannot be more than 20 characters long !</span
                      >
                      <span
                        *ngIf="
                          registerForm.controls['password'].hasError('required')
                        "
                        class="error"
                        >Password is required</span
                      >
                    </span>
                    <div class="form-group">
                      <label for="confirmPassword">Confirm password</label>
                      <input
                        name="confirmPassword"
                        formControlName="confirmPassword"
                        id="confirmPassword"
                        type="password"
                        class="form-control"
                      />
                      <span
                        class="text-danger error-msg"
                        *ngIf="
                          (registerForm.controls['confirmPassword'].invalid &&
                            registerForm.controls['confirmPassword'].dirty) ||
                          registerForm.controls['confirmPassword'].touched
                        "
                      >
                        <span
                          *ngIf="
                            registerForm.controls['confirmPassword'].hasError(
                              'required'
                            )
                          "
                          class="error"
                          >this field is required !</span
                        >
                        <span
                          *ngIf="
                            registerForm.controls['confirmPassword'].hasError(
                              'passwordMismatch'
                            )
                          "
                          class="error"
                          >password does not match !</span
                        >
                      </span>
                    </div>
                    <div class="form-group">
                      <label for="bio">Bio</label>
                      <textarea
                        class="form-control"
                        formControlName="bio"
                        id="bio"
                        name="bio"
                        type="text"
                        rows="4" cols="50"
                      >
                  </textarea>
                    </div>
                    <span
                      class="text-danger error-msg error-msg"
                      *ngIf="
                          (registerForm.controls['bio'].invalid &&
                            registerForm.controls['bio'].dirty) ||
                          registerForm.controls['bio'].touched
                        "
                    >
                        <span
                          *ngIf="
                            registerForm.controls['bio'].hasError(
                              'required'
                            )
                          "
                          class="error"
                        >This field is required!</span
                        >
                      </span>
                    <span *ngIf="emailExist" class="error-msg2"
                      >Email already used!</span
                    >
                    <span *ngIf="usernameExist" class="error-msg2"
                      >Username already used!</span
                    >
                    <br />
                    <button
                      type="submit"
                      class="btn btn-theme forgot-link d-flex justify-content-start"
                      [disabled]="registerForm.invalid"
                    >
                      Sign up
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- end card-body -->
        </div>
        <!-- end card -->
      </div>
      <!-- end col -->
    </div>
    <!-- Row -->
  </div>
</body>
