/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
@import 'quill/dist/quill.snow.css';
/* @import './quill.smoke.css'; */


/* Define custom CSS classes for the toast container and title */
.custom-toast-container {
  background-color: #d1d1d1; 
  color: #000000; 
  border: 1px solid #c0c0c0; 
  border-radius: 5px; 
}

.title_toast {
  font-size: 18px; 
}

.badge-img {
  width: 100px; 
  height: 100px; 
  margin-right: 10px; 
}