<div class="container-fluid">
  <div class="row">
    <div class="col">
      <webcam
        [height]="300"
        [width]="400"
        [trigger]="triggerObservable"
        (imageCapture)="handleImage($event)"
      >
      </webcam>
    </div>
    <div class="col">
      <div class="d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-success"
          (click)="triggerSnapshot()"
        >
          Login
        </button>
      </div>
    </div>
  </div>
</div>
