
<section class="page-header clearfix" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg);">
  <div class="container">
    <div class="page-header__inner text-center clearfix">
      <ul class="thm-breadcrumb">
        <li><a href="index-main.html">Home</a></li>
        <li>My Products</li>
      </ul>
      <h2>My Products</h2>
    </div>
  </div>
</section>
<section class="shop-one">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="shop-one__sidebar">
          <div class="shop-one__sidebar__item shop-one__sidebar__search">
            <form action="#">
              <input class="form-control" type="text" name="Search here" [(ngModel)]="searchText" autocomplete="off" placeholder="Search">
              <button type="submit"><i class=" icon-search "></i></button>
            </form>


          </div><!-- /.shop-one__sidebar__item -->
          <a routerLink="/marketplace/addProduct" class="thm-btn" style="margin-top: 20px; margin-bottom: 20px">Add product +</a>
          <div class="shop-one__sidebar__item shop-one__sidebar__category">
            <h3 class="shop-one__sidebar__item__title">Categories</h3>
            <!-- /.shop-one__sidebar__item__title -->
            <ul class="list-unstyled shop-one__sidebar__category__list">
              <li><a href="#">Agriculture</a></li>
              <li><a href="#">Dairy Farm</a></li>
              <li><a href="#">Economy Solution</a></li>
              <li><a href="#">Harvests Innovations</a></li>
              <li><a href="#">Organic Food</a></li>
              <li><a href="#">Fresh Vegetables</a></li>
            </ul>
          </div><!-- /.shop-one__sidebar__item -->
        </div><!-- /.shop-one__sidebar -->
      </div><!-- /.col-lg-3 -->
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-12 shop-one__sorter">
            <p class="shop-one__product-count">Showing 1–9 of 12 results</p>
            <select class="shop-one__product-sorter" name="sortProducts" id="sortProducts">
              <option value="popularity">Sort by Popular</option>
              <option value="quantity">Sort by Quantity</option>
              <option value="expiration">Sort by Expiration Date</option>
            </select>
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-md-6 col-lg-4" *ngFor="let p of visibleProducts | filter:searchText ">
            <div class="shop-one__item">
              <div class="shop-one__image">
                <span class="shop-one__sale">sale</span><!-- /.shop-one__sale -->
                <img src="{{p.image}}" alt="">
                <a class="shop-one__cart" href="cart.html"><i class=" icon-shopping-cart"></i></a>
              </div><!-- /.shop-one__image -->
              <div class="shop-one__content text-center">
                <h3 class="shop-one__title"><a [routerLink]="['/marketplace/product', p.id]">{{p.name}}</a></h3>
                <h6 style="font-size: 15px " class="shop-one__title"><a href="product-details.html">quantity : {{p.quantity}} {{p.unit}}</a>
                </h6>
                <p class="shop-one__price">${{p.price}}</p><!-- /.shop-one__price -->
                <div class="shop-one__rating">
                  <i class="fa fa-star" *ngFor="let star of getStars(p?.rating?.average ?? 0)"></i>
                </div>
                <div class="shop-one__buttons">
                  <button style="margin-right: 10px;" (click)="deleteProduct(p.id)"><i class="fas fa-trash fa-lg" style="color: red;"></i></button>
                  <button [routerLink]="['/marketplace/product', p.id, 'edit']"><i class="fas fa-edit fa-lg" style="color: #f3da35;"></i></button>
                </div>


              </div><!-- /.shop-one__content -->
            </div><!-- /.shop-one__item -->

          </div><!-- /.col-md-6 col-lg-3 -->
          <div class="row">
            <div class="col-lg-12 text-center">
              <div class="news-sidebar__btn">
                <p class="shop-one__product-count" *ngIf="numberOfProductsToShow < (productsList| filter:searchText).length">Showing 1–{{numberOfProductsToShow}} of {{(productsList| filter:searchText).length}} results</p>
                <p class="shop-one__product-count" *ngIf="numberOfProductsToShow > (productsList| filter:searchText).length">Showing 1–{{(productsList| filter:searchText).length}} of {{(productsList| filter:searchText).length}} results</p>
                <a (click)="showMoreProducts()" class="thm-btn">load more</a>
              </div>
            </div><!-- /.col-lg-12 text-center -->
          </div>
        </div><!-- /.row -->

      </div><!-- /.col-lg-3 -->

    </div><!-- /.row -->

  </div><!-- /.container -->
</section>
