<body>
<div class="container mt-5 mb-5">
  <div class="row d-flex align-items-stretch">
    <div class="col-md-6 text-center">
      <div class="card mb-4 h-100">
        <div class="card-body d-flex flex-column justify-content-between">
          <img src="assets/client.jpg" alt="Client" class="img-fluid mb-3" style="height: 300px;">
          <div>
            <h2 class="mb-3">Client Signup</h2>
            <p class="lead">Looking to purchase fresh produce from local farmers? Sign up as a client and enjoy a variety of farm-fresh products.</p>
          </div>
          <a routerLink="CLIENT" class="btn btn-lg btn-outline-success btn-block rounded-pill my-btn">Sign Up</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <div class="card mb-4 h-100">
        <div class="card-body d-flex flex-column justify-content-between">
          <img src="assets/farmer.jpg" alt="Farmer" class="img-fluid mb-3" style="height: 300px;">
          <div>
            <h2 class="mb-3">Farmer Signup</h2>
            <p class="lead">Are you a farmer looking to sell your produce directly to customers? Sign up as a farmer and start selling today.</p>
          </div>
          <a routerLink="FARMER" class="btn btn-lg btn-outline-success btn-block rounded-pill my-btn">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
