<header class="main-header main-header--one clearfix">
  <div class="main-header--one__wrapper">
    <div class="main-header--one__top clearfix">
      <div class="auto-container">
        <div class="main-header--one__top-left">
          <div class="text">
            <p>Welcome to farm sanctuary</p>
          </div>
          <div class="social-link clearfix">
            <ul>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="main-header--one__top-right clearfix">
          <ul>
            <li>
              <div class="icon">
                <i class="fa fa-envelope"></i>
              </div>
              <div class="text">
                <p>
                  <a href="mailto:farm_sanctuary@gmail.com"
                    >farmsanctuary910@gmail.com
                  </a>
                </p>
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fa fa-clock"></i>
              </div>
              <div class="text">
                <p>Mon - Sat 8:00 - 6:30, Sunday - CLOSED</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="main-header--one__bottom clearfix">
      <div class="auto-container">
        <div class="main-header--one__bottom-inner">
          <nav class="main-menu main-menu--1">
            <div class="main-menu__inner">
              <a href="#" class="mobile-nav__toggler"
                ><i class="fa fa-bars"></i
              ></a>

              <div class="stricky-one-logo">
                <div class="logo">
                  <a href="index-main.html">
                    <img
                      class="dark-logo"
                      src="assets/images/resources/logo-1.png"
                      alt=""
                    />
                    <img
                      class="light-logo"
                      src="assets/images/resources/logo-2.png"
                      alt=""
                    />
                  </a>
                </div>
              </div>

              <div class="main-header--one__bottom-left">
                <ul class="main-menu__list">
                  <li class="dropdown megamenu">
                    <a routerLink="home">Home</a>
                  </li>
                  <li><a routerLink="about">About</a></li>
                  <li class="dropdown">
                    <a href="#">Services</a>
                    <ul>
                      <li><a href="services.html">All Services</a></li>
                      <li>
                        <a href="agriculture-products.html"
                          >Agriculture Products</a
                        >
                      </li>
                      <li>
                        <a href="fresh-vegetable.html">Fresh Vegetable</a>
                      </li>
                      <li>
                        <a href="organic-products.html">Organic Products</a>
                      </li>
                      <li><a href="dairy-products.html">Dairy Products</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a routerLink="marketplace">Shop</a>
                    <ul>
                      <li><a routerLink="marketplace">Products</a></li>
                      <li>
                        <a href="product-details.html">Product Details</a>
                      </li>
                      <li><a routerLink="marketplace/cart">Cart</a></li>
                      <li><a routerLink="recommendedproducts">Recommended Farming Products</a></li>

                      <li><a href="checkout.html">Checkout</a></li>
                      <li><a routerLink="marketplace/orders">Orders</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a routerLink="/latestnew">Blog</a>
                    <ul>
                      <li><a routerLink="/latestnew">News</a></li>
                      <li class="dropdown">
                        <a routerLink="/addarticle">add new article</a>
                        <!-- <ul>
                          <li><a href="news-2-col.html">News Two Col</a></li>
                          <li><a href="news.html">News Three Col</a></li>
                          <li><a href="news-4-col.html">News Four Col</a></li>
                        </ul> -->
                      </li>
                      <li>
                        <a routerLink="/myarticles">myarticles</a>
                      </li>
                    </ul>
                  </li>
                  <li><a routerLink="contact">Contact</a></li>
                </ul>
              </div>
            </div>
          </nav>

          <div class="main-header--one__bottom-middel">
            <div class="logo">
              <a routerLink="home">
                <img
                  class="dark-logo"
                  src="assets/LogoFarmSanctuary-preview.png"
                  alt=""
                  width="100%"
                  height="100px"
                />
                <img
                  class="light-logo"
                  src="assets/LogoFarmSanctuary-preview.png"
                  alt=""
                  width="100%"
                  height="100px"
                />
              </a>
            </div>
          </div>

          <div class="main-header--one__bottom-right clearfix">
            <div class="search-cart">
              <div class="icon-container">
                <a routerLink="addfeedback" class="search search-toggler" *ngIf="userIsAuthenticated">
                  <span class="bx bx-message-dots"></span>
                </a>
                <a routerLink="marketplace/cart" class="cart mini-cart__toggler">
                  <span class="icon-shopping-cart"></span>
                  <span class="badge" *ngIf="cartItemCount > 0">{{ cartItemCount }}</span>
                </a>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="#" id="notification-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="clearNotificationCount()">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-danger" *ngIf="notificationCount">{{ notificationCount }}</span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end notification-dropdown" aria-labelledby="notification-dropdown">
                    <h6 class="dropdown-header">Notifications</h6>
                    <div *ngIf="notifications.length === 0" class="dropdown-item text-center">No notifications</div>
                    <ng-container *ngFor="let notification of notifications">
                      <a class="dropdown-item notification-item" routerLink="/notifications">
                        <div class="notification-content-and-status">
                          <div class="notification-status">
                            <i class="fa" [ngClass]="{'fa-envelope-open fa-x0': notification.seen, 'fa-envelope fa-0x': !notification.seen}"></i>
                          </div>
                          <div class="notification-content">{{ notification.content }}</div>
                        </div>
                        <div class="notification-date">{{ notification.createdAt | date: 'MMM d, y' }}</div>
                      </a>
                    </ng-container>
                    <a class="dropdown-item text-center" routerLink="/notifications">View all notifications</a>
                  </div>
                  
                
                
              </div>
            </div>
  
            <div class="contact-box" *ngIf="userIsAuthenticated">
              <div class="text">
                <div class="dropdown-avatar">
                  <img class="avatar" src="{{ img }}" alt="Avatar" />
                  <div class="dropdown-content">
                   <h5><i class='bx bx-user-circle' ></i> {{ username }}</h5>
                    <hr class="dropdown-divider">
                    <a routerLink="myprofile/{{ userId }}"><i class='bx bxs-user-circle'></i> Profile</a>
                    <a routerLink="/marketplace/myProducts">My Products</a>
                    <a routerLink="Messages" >Messages</a>
                    <a routerLink="profile/{{ userId }}"><i class='bx bx-cog'></i> Settings</a>
                    <hr class="dropdown-divider">
                    <a (click)="loggingout()"><i class='bx bx-log-out'></i> Logout</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="contact-box" *ngIf="!userIsAuthenticated">

              <button class="btn btn-success" routerLink="login">
                Sign in
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
