
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dropdown-avatar {
  /* position: relative; */
  display: inline-block;
}

/* .avatar2 {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
} */

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%; /* Position the dropdown content below the dropdown button */
  left: 0;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  /* Set the direction of the items to be displayed vertically */
  flex-direction: column;
}
a#notification-dropdown {
  padding-right: 7px;
}

.dropdown-avatar:hover .dropdown-content {
  display: flex; /* Display the dropdown content as flex */
}

.cart {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 4px 7px;
  border-radius: 50%;
  background-color: #ff5722;
  color: white;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.badge::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.badge:hover {
  background-color: #e64a19;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.badge:hover::before {
  opacity: 1;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-cart a, .search-cart li {
  margin-right: 2px; /* adjust as needed */
}

.search-cart a:last-child, .search-cart li:last-child {
  margin-right: 0;
}

