<header class="main-header main-header--one  clearfix">
    <div class="main-header--one__wrapper">
        <div class="main-header--one__top clearfix">
            <div class="auto-container">

                <div class="main-header--one__top-left">
                    <div class="text">
                        <p>Welcome to farm sanctuary</p>
                    </div>
                    <div class="social-link clearfix">
                        <ul>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="main-header--one__top-right clearfix">
                    <ul>
                        <li>
                            <div class="icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="text">
                                <p><a href="mailto:farm_sanctuary@gmail.com">farm_sanctuary@gmail.com</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fa fa-clock"></i>
                            </div>
                            <div class="text">
                                <p>Mon - Sat 8:00 - 6:30, Sunday - CLOSED</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="main-header--one__bottom clearfix">
            <div class="auto-container">
                <div class="main-header--one__bottom-inner">
                    <nav class="main-menu main-menu--1">
                        <div class="main-menu__inner">
                            <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>

                            <div class="stricky-one-logo">
                                <div class="logo">
                                    <a href="index-main.html">
                                        <img class="dark-logo" src="assets/images/resources/logo-1.png" alt="">
                                        <img class="light-logo" src="assets/images/resources/logo-2.png" alt="">
                                    </a>
                                </div>
                            </div>

                            <div class="main-header--one__bottom-left">
                                <ul class="main-menu__list">
                                    <li class="dropdown megamenu">
                                        <a routerLink="home">Home</a>
                                    
                                    </li>
                                    <li><a href="about.html">About</a></li>
                                    <li class="dropdown">
                                        <a href="#">Services</a>
                                        <ul>
                                            <li><a href="services.html">All Services</a></li>
                                            <li><a href="agriculture-products.html">Agriculture Products</a>
                                            </li>
                                            <li><a href="fresh-vegetable.html">Fresh Vegetable</a></li>
                                            <li><a href="organic-products.html">Organic Products</a></li>
                                            <li><a href="dairy-products.html">Dairy Products</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Page</a>
                                        <ul>
                                            <li><a href="farmers.html">Farmers</a></li>
                                            <li><a href="team-details.html">Farmer Details</a></li>
                                            <li><a href="projects.html">Projects</a></li>
                                            <li><a href="projects-details.html">Projects Details</a></li>
                                            <li><a href="testimonials.html">Testimonials</a></li>
                                            <li><a href="faq.html">Faq</a></li>
                                            <li><a href="error.html">Error</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="shop.html">Shop</a>
                                        <ul>
                                            <li><a href="shop.html">Products</a></li>
                                            <li><a href="product-details.html">Product Details</a></li>
                                            <li><a href="cart.html">Cart</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Blog</a>
                                        <ul>
                                            <li class="dropdown">
                                                <a href="news.html">News Grid</a>
                                                <ul>
                                                    <li><a href="news-2-col.html">News Two Col</a></li>
                                                    <li><a href="news.html">News Three Col</a></li>
                                                    <li><a href="news-4-col.html">News Four Col</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="news-sidebar.html">News Sidebar</a>
                                                <ul>
                                                    <li><a href="news-sidebar.html">News Sidebar Right</a></li>
                                                    <li><a href="news-sidebar-left.html">News Sidebar Left</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="news-details.html">News Details</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>

                    <div class="main-header--one__bottom-middel">
                        <div class="logo">
                            <a routerLink="home">
                                <img class="dark-logo" src="assets/LogoFarmSanctuary-preview.png" alt="" width="100%" height="100px">
                                <img class="light-logo" src="assets/LogoFarmSanctuary-preview.png" alt="" width="100%" height="100px">
                            </a>
                        </div>
                    </div>

                    <div class="main-header--one__bottom-right clearfix">
                        <div class="search-cart">
                            <a href="#" class="search search-toggler"><span
                                    class="icon-magnifying-glass"></span></a>
                            <a href="#" class="cart mini-cart__toggler"><span
                                    class="icon-shopping-cart"></span></a>
                        </div>
                        <div class="contact-box">
                            <div class="icon">
                                <span class="icon-phone-call-2"></span>
                            </div>
                            <div class="text">
                                <p>Call Anytime</p>
                                <a href="tel:123456789">666 888 0000</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</header>