.users-table {
  margin: 20px;
  font-family: Arial, sans-serif;
}
.users-table {
  max-width: 100%; /* Set the maximum width of the container to 100% */
  overflow-x: auto; /* Add horizontal scrolling for overflowed content */
}

.users-table table {
  width: 100%; /* Set the table width to 100% */
  border-collapse: collapse; /* Combine table borders where they meet */
}

.users-table th,
.users-table td {
  padding: 8px; /* Add padding to table cells */
  text-align: left; /* Align table cell text to the left */
  border: 1px solid #ddd; /* Add borders to table cells */
}
table {
  border-collapse: collapse;
  width: 100%;
}

thead th {
  background-color: #008080;
  color: #fff;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  max-width: 200px; /* adjust this value to the width of your table cell */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tbody tr:hover {
  background-color: #e6e6e6;
}

td:nth-child(1) {
  width: 5%;
}

td:nth-child(2) {
  width: 15%;
}

td:nth-child(3) {
  width: 10%;
}

td:nth-child(4) {
  width: 20%;
}

td:nth-child(5) {
  width: 15%;
}

td:nth-child(6) {
  width: 15%;
}

td:nth-child(7) {
  width: 5%;
  text-align: center;
}

td:nth-child(8) {
  width: 5%;
  text-align: center;
}

td:nth-child(9) {
  width: 10%;
}

td:nth-child(10) {
  width: 10%;
}

img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.users-table img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}
.block-btn i {
  font-size: 1.5rem;
  margin-right: 1rem; /* Add 1rem of right margin */
  color: #ff0000;
}
.delete-btn i {
  font-size: 1.5rem;
  margin-right: 1rem; /* Add 1rem of right margin */
  color: #000000;
  /* Other icon styling properties */
}
.table-title {
  text-align: center;
  margin-bottom: 20px;
}

.table-title h2 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}
.pagination {
  margin-top: 20px;
}

.pagination .page-item > .page-link {
  font-size: 14px;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.pagination .page-item.active > .page-link {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
}

.pagination .page-item.disabled > .page-link {
  color: #ccc;
  cursor: not-allowed;
}
.pagination-wrapper {
  text-align: center;
}
.ellipsis {
  max-width: 400px; /* adjust this value to the width of your table cell */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
