<div class="users-table">
  <div class="table-title">
    <h2>Users</h2>
  </div>
  <table>
    <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Active</th>
      <th>Blocked</th>
      <th>Role</th>
      <th>Image</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let u of pagedItems">
      <ng-container *ngIf="u.role !== 'ADMIN'">
        <tr>
          <td class="ellipsis">{{u.username}}</td>
          <td class="ellipsis">{{u.email}}</td>
          <td class="ellipsis">{{datePipe.transform(u.createdAt, 'medium') }}</td>
          <td class="ellipsis">{{datePipe.transform(u.updatedAt, 'medium') }}</td>
          <td class="ellipsis">{{u.isActive}}</td>
          <td class="ellipsis">{{u.isBlocked}}</td>
          <td class="ellipsis">{{u.role}}</td>
          <td class="ellipsis"><img [src]="u.image.url" alt="User Image"></td>
          <td>
            <button class="block-btn" (click)="toggleBlockUser(u.id)">
              <i class="fas fa-ban"></i> <!-- Font Awesome block icon -->
            </button>
            <button class="delete-btn">
              <i class="fas fa-trash-alt"></i> <!-- Font Awesome delete icon -->
            </button>
          </td>
        </tr>
      </ng-container>
    </ng-container>
    </tbody>
  </table>

</div>
<div class="pagination d-flex justify-content-center">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" (click)="setPage(currentPage - 1)" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
      <a class="page-link" (click)="setPage(page)">{{page}}</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" (click)="setPage(currentPage + 1)" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</div>
