
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-3">
          <div class="card bg-c-blue order-card">
            <div class="card-block">
                <h6 class="m-b-20">Total feedbacks</h6>
                <h2 class="text-right">
                    <i class="far fa-comments"></i>
                    

                    <span style="padding-left: 20px">{{listlength}}</span>
                </h2>
            </div>
        </div>
        
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Today's Feedbaks</h6>
                    <h2 class="text-right">                     <i class="bx bx-message-alt-dots"></i>
                      <span style="padding-left: 20px">{{feedbacksToday}}</span></h2>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Negative Feedbacks</h6>
                  
                    <h2 class="text-right"><i class="far fa-thumbs-down"></i><span style="padding-left: 20px">{{feedbacksRating1}}</span></h2>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Positive Feedbacks</h6>
                    <h2 class="text-right"><i class="far fa-thumbs-up"></i><span style="padding-left: 20px">{{feedbacksRating5}}</span></h2>
                </div>
            </div>
        </div>
	</div>

  <div class="row">
    <div class="col">
      <div class="card m-3">
        <div class="card-body">
          <h6 class="m-b-20">Percentage of feedbacks per Rating :</h6>

          <div id="pie-chart"></div>
  
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card m-3">
        <div class="card-body">
          <h6 class="m-b-20">Daily feedbacks</h6>

          <div id="line-chart"></div>
  
        </div>
      </div>
    </div>
  </div>
  




<div class="row">
  <div class="col-lg-12">
      <div class="main-box no-header clearfix">
          <div class="main-box-body clearfix">
              <div class="table-responsive">
                  <table class="table user-list">
                      <thead>
                          <tr>
                          <th><span>Title</span></th>
                          <th><span>Subject</span></th>
                          <th><span>category</span></th>
                          <th><span>Content</span></th>
                          <th><span>Rating</span></th>
                          <th  class="text-center"><span>Action</span></th>
                          </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let f of feedbackList.slice(startIndex, endIndex)">

                          <tr>
                              <td>
                                  {{f.title}}
                              </td>
                              <td>{{f.subject}}</td>

                              <td>
                                <span class="label" [ngClass]="{
                                  
                                  'label-success':f.category.toString() == 'FUNCTIONAL',
                                  'label-warning': f.category.toString() === 'NON_TECHNICAL',
                                  'label-danger': f.category.toString() ===  'TECHNICAL'
                                }">{{ f.category }}</span>
                              </td>
                              
                              
                              <td>
                                <span class="label label-default">{{f.content}}</span>
                            
                              </td>
                              <td> 
                                <span *ngFor="let icon of [1, 2, 3, 4, 5]"  class="star" [class.filled]="icon <= f.rating"
                      >
                        <i class="fa fa-star"></i>
                      </span>
                  
                                <!-- <span class="mb-0 text-sm">
                                  <ng-container *ngFor="let star of [].constructor(f.rating); let i=index">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                  </ng-container>
                                </span> -->
                              </td>
                              <td style="text-align: center;">
                                <a   (click)="deleteFeedback(f.id)" >

                                <span class="mb-0 text-sm"> 
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                </span>
                              </a>
                              </td>
                              
                          </tr>
                        </ng-container>
                      </tbody>
                  </table>
               
              </div>
              
              
          </div>
          <nav *ngIf="totalPages > 1" aria-label="...">
            <ul class="pagination justify-content-center mb-0">
          <li [class.disabled]="isFirstPage" class="page-item disabled">
            <a (click)="paginate(currentPage - 1); $event.preventDefault()" class="page-link" href="#" tabindex="-1">
              <i class="fas fa-angle-left"></i>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li *ngFor="let page of getPageRange" [class.active]="currentPage == page" class="page-item active">
            <a (click)="paginate(page); $event.preventDefault()" class="page-link" href="#">{{ page }}</a>
          </li>
          <li [class.disabled]="isLastPage" class="page-item">
            <a (click)="paginate(currentPage + 1); $event.preventDefault()" class="page-link" href="#">
              <i class="fas fa-angle-right"></i>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
      
    
                  
      </div>
      
  </div>
</div>






</div>