<h1  style="text-align: center;">                              Feedbacks</h1>


<table cellspacing='0' style > <!-- cellspacing='0' is important, must stay -->

	<!-- Table Header -->
	<thead>


		<tr>
			<th>Title</th>
			<th>Subject</th>
			<th>Content</th>
            <th>Rating</th>
            <th>Category</th>
		</tr>
	</thead>
	<!-- Table Header -->

	<!-- Statique until i figure out node -->
	<tbody>

		<tr>
			<td>Create pretty table design</td>
			<td>100%</td>
			<td>Yes</td>
            <td>100%</td>
			<td>Yes</td>

		<tr class="even">
			<td>Take the dog for a walk</td>
			<td>100%</td>
			<td>Yes</td>
            <td>100%</td>
			<td>Yes</td>
		</tr><!-- Darker Table Row -->

	
        

	</tbody>
	<!-- Table Body -->

</table>