<div class="form-group row mb-3" style="margin-top: 20px">
  <div class="col-sm-3">
    <h6 class="mb-0">Facial recognition login</h6>
  </div>
  <div class="col-sm-9 text-secondary">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      <span class="fa fa-camera"></span>
    </button>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Facial recognition login configuration
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <div class="row">
            <div class="col">
              <webcam
                *ngIf="!imagePreview"
                [height]="300"
                [width]="400"
                [trigger]="triggerObservable"
                (imageCapture)="handleImage($event)"
              >
              </webcam>
              <img
                *ngIf="!imagePreview && webcamImageCaptured"
                [src]="webcamImage.imageAsDataUrl"
                alt="webcamImage"
                height="300px"
                width="400px"
              />
              <img
                *ngIf="imagePreview"
                [src]="imagePreview"
                alt="image"
                height="300px"
                width="400px"
              />
              <img
                *ngIf="!imagePreview && !webcamImageCaptured"
                src="assets/images/placeholder-img.png"
                alt="image"
                height="300px"
                width="400px"
              />
              <div class="d-flex justify-content-center mt-2">
                <button
                  (click)="fileInput.click()"
                  class="btn btn-outline-primary"
                  style="margin: 10px"
                >
                  <i class="fa fa-fw fa-camera"></i>
                  <span>upload Photo</span>
                </button>
                <button
                  (click)="triggerSnapshot()"
                  class="btn btn-outline-primary"
                  style="margin: 10px"
                >
                  <i class="fa fa-fw fa-camera"></i>
                  <span>Take Photo</span>
                </button>
                <input
                  #fileInput
                  (change)="handleFileInput($event)"
                  style="display: none"
                  type="file"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="mt-3">
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary" (click)="saveChanges()">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
