<app-sidebar></app-sidebar>
<section class="home-section">
  <nav>
    <div class="sidebar-button">
      <span class="dashboard">Admin panel</span>
    </div>
    <app-clock></app-clock>
   
    <div class="profile-details">
      <span class="admin_name">{{username}}</span>
      <i class='bx bxs-user-circle'></i>
    </div>
  </nav>  
  <div class="home-content">
    <router-outlet></router-outlet>
  
  </div>
</section>

<script>
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".sidebarBtn");
  sidebarBtn.onclick = function () {
    sidebar.classList.toggle("active");
    if (sidebar.classList.contains("active")) {
      sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
    } else sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
  };
</script>
