 <!--Start Footer One-->
 <footer class="footer-one">
    <div class="footer-one__top">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="footer-one__top-wrapper">
                        <div class="footer-one__bg"><img src="assets/images/backgrounds/footer-one-bg.png"
                                alt="" /></div>
                        <div class="row">
                            <!--Start Footer Widget Column-->
                            <div class="col-xl-3 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.1s">
                                <div class="footer-widget__column footer-widget__about">
                                    <div class="footer-widget__about-logo">
                                        <a href="index-main.html"><img
                                                src="assets/Logo FarmSanctuary.png" alt="" width="100%" height="150px"></a>
                                    </div>
                                    <p class="footer-widget__about-text">Lorem ipsum dolor sit amet consect etur
                                        adi pisicing elit sed.</p>
                                    <div class="footer-widget__about-contact-box">
                                        <p class="phone"><a href="tel:123456789"><i
                                                    class="fas fa-phone-square-alt"></i>+92 666 888 0000</a></p>
                                        <p><a href="mailto:needhelp@company.com"><i
                                                    class="fa fa-envelope"></i>farm_sanctuary@gmail.com</a></p>
                                        <p class="text"><i class="fas fa-map-marker-alt"></i>ghazela  ariana , Tunisia
                                            </p>
                                    </div>
                                </div>
                            </div>
                            <!--End Footer Widget Column-->

                            <!--Start Footer Widget Column-->
                            <div class="col-xl-3 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.3s">
                                <div class="footer-widget__column footer-widget__news">
                                    <h2 class="footer-widget__title">News</h2>
                                    <ul class="footer-widget__news-list">
                                        <li class="footer-widget__news-list-item">
                                            <div class="footer-widget__news-list-item-img">
                                                <img src="assets/images/resources/footer-widget-news-img1.png"
                                                    alt="" />
                                            </div>
                                            <div class="footer-widget__news-list-item-title">
                                                <p>20 Jul, 2021</p>
                                                <h5><a href="#">A Clean Water Gives More<br> Good Taste</a></h5>
                                            </div>
                                        </li>

                                        <li class="footer-widget__news-list-item">
                                            <div class="footer-widget__news-list-item-img">
                                                <img src="assets/images/resources/footer-widget-news-img2.png"
                                                    alt="" />
                                            </div>
                                            <div class="footer-widget__news-list-item-title">
                                                <p>20 Jul, 2021</p>
                                                <h5><a href="#">A Clean Water Gives More<br> Good Taste</a></h5>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--End Footer Widget Column-->

                            <!--Start Footer Widget Column-->
                            <div class="col-xl-2 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.5s">
                                <div class="footer-widget__column footer-widget__explore">
                                    <h2 class="footer-widget__title">Explore</h2>
                                    <ul class="footer-widget__explore-list">
                                        <li class="footer-widget__explore-list-item"><a href="projects.html">New
                                                Projects</a></li>
                                        <li class="footer-widget__explore-list-item"><a href="services.html">Our
                                                Services</a></li>
                                        <li class="footer-widget__explore-list-item"><a routerLink="/about">About
                                                Us</a></li>
                                        <li class="footer-widget__explore-list-item"><a routerLink="/contact">Get in
                                                Touch</a></li>
                                        <li class="footer-widget__explore-list-item"><a href="#">Volunteers</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--End Footer Widget Column-->

                            <!--Start Footer Widget Column-->
                            <div class="col-xl-4 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.7s">
                                <div class="footer-widget__column footer-widget__newletter">
                                    <h2 class="footer-widget__title">Newletter</h2>
                                    <p class="footer-widget__newletter-text">Sign up now to get daily latest
                                        news & updates from us</p>
                                    <form class="subscribe-form" action="#">
                                        <input type="email" name="email" placeholder="Email address">
                                        <button type="submit">Go</button>
                                    </form>
                                </div>
                            </div>
                            <!--End Footer Widget Column-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Start Footer One Bottom-->
    <div class="footer-one__bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="footer-one__bottom-inner">
                        <div class="footer-one__bottom-text">
                            <p>&copy; Copyright 2023 built with ❤ by <a href="#">JediScript</a></p>
                        </div>
                        <div class="footer-one__bottom-social-links">
                            <ul>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Footer One Bottom-->
</footer>
<!--End Footer One-->